In [1]:
import pandas as pd
import numpy as np

In [5]:
sent1 = []
sent2 = []
fp = open('data/quora_new/test_src.txt', 'r')
fo = open('data/quora_new/test_tgt.txt', 'r')
while True:
    line = fp.readline()
    line2 = fo.readline()
    if line and line2:
        sent1+=[line.strip()]
        sent2+=[line2.strip()]
        

    else:
        break
fp.close()
fo.close()

In [6]:
len(sent1), len(sent2)

(5000, 5000)

In [7]:
df = pd.DataFrame(list(zip(sent1,sent2)), columns=['question1', 'question2'])

In [17]:
df.tail()

,question1,question2,w1,w2,diff
4995,"what is the sahara , and how do the average te...","what is the sahara , and how do the average te...",22,21,1
4996,should criminals be punished ?,are criminals wicked and deserve punishment ?,5,7,2
4997,does gary johnson have a chance ?,can gary johnson win the presidency in 2016 ?,7,9,2
4998,how do i get myself motivated to go to the gym ?,how do i motivate myself to go to the gym regu...,12,12,0
4999,what is it like to build and/or live in a tiny...,have you lived in a tiny house ?,13,8,5

In [12]:
df['w1'] = df['question1'].apply(lambda x: len(x.split()))
df['w2'] = df['question2'].apply(lambda x: len(x.split()))

In [16]:
df['diff'] = np.abs(df['w1'] - df['w2'])

In [18]:
df.describe()

                w1           w2         diff
count  5000.000000  5000.000000  5000.000000
mean     11.126000    11.184800     2.672400
std       4.468257     4.603704     2.993739
min       4.000000     3.000000     0.000000
25%       8.000000     8.000000     1.000000
50%      10.000000    10.000000     2.000000
75%      13.000000    13.000000     4.000000
max      36.000000    43.000000    29.000000

In [19]:
dfx = df[(df['w1']>8) & (df['w1']<13)]

In [20]:
dfx.shape

(2162, 5)

In [24]:
dfx.index  = list(range(len(dfx.index)))

In [25]:
dfx.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            2152, 2153, 2154, 2155, 2156, 2157, 2158, 2159, 2160, 2161],
           dtype='int64', length=2162)

In [26]:
selec_index =np.random.choice(len(dfx.index), size = 1000, replace=False)

In [27]:
dfz = dfx.loc[selec_index].copy()

In [28]:
dfz.shape

(1000, 5)

In [29]:
selec_index =np.random.choice(len(dfx.index), size = 100, replace=False)
dfy = dfx.loc[selec_index].copy()
dfy.shape

(100, 5)

In [30]:
q1 = dfz['question1'].values
q2 = dfz['question2'].values

fo = open('./data/quora_new/testx_src.txt', 'w')
fp = open('./data/quora_new/testx_tgt.txt', 'w')

for i in range(len(q1)):
    fo.write(q1[i].strip() + '\n')
    fp.write(q2[i].strip() + '\n')
fo.close()
fp.close()

In [31]:
q1 = dfy['question1'].values
q2 = dfy['question2'].values

fo = open('./data/quora_new/testsamp_src.txt', 'w')
fp = open('./data/quora_new/testsamp_tgt.txt', 'w')

for i in range(len(q1)):
    fo.write(q1[i].strip() + '\n')
    fp.write(q2[i].strip() + '\n')
fo.close()
fp.close()

In [32]:
dfy.head()

,question1,question2,w1,w2,diff
1133,what are the benefits of multiculturalism in a...,what are the advantages of multiculturalism in...,9,9,0
1742,how can i read a book every week ?,how can i read a book a week ?,9,9,0
90,how do i score more than 750 in the gmat ?,what should i do to score more than 750 in the...,11,13,2
607,will denver airport get a nonstop flight on em...,is emirates planning a nonstop flight to denver ?,11,9,2
567,why is saltwater taffy candy imported in spain ?,why is saltwater taffy candy imported in czech...,9,10,1