In [1]:
import pandas as pd
import numpy as np

In [2]:
tdf = pd.read_csv('/scratchd/home/satwik/adv_p/data/train_df.csv')

In [4]:
dat =[]
fo = open('data/quora/train_split_100000_orig.txt', 'r')
fp = open('data/quora/train_split_100000_para.txt', 'r')
while True:
    line = fo.readline()
    line2 = fp.readline()
    if line:
        dat.append((line,line2, 1))
    else:
        break
fo.close()
fp.close()

In [5]:
dat =np.array(dat)
dat.shape

(100000, 3)

In [6]:
neg_df = tdf[tdf['is_duplicate'] ==0].copy()

In [8]:
neg_df = neg_df[neg_df.columns[-3:]]

In [9]:
neg_df.head()

,question1,question2,is_duplicate
0,Is Somalia an accurate outcome of a libertaria...,Does Somalia have a government?,0
2,My hair is hard how to make it soft?,What does it feel like when you tell your crus...,0
3,What do you think Brazilians think foreigners ...,What do foreigners usually think about Brazil?,0
5,Should we use a phone while it's charging?,Can I use the mobile Internet while charging?,0
8,"My girlfriend likes posts on Instagram, relate...",Is it fair to be upset that one's girlfriend i...,0

In [10]:
cols = neg_df.columns
pos_df = pd.DataFrame(dat, columns=cols)

In [21]:
pos_df.head()

,question1,question2,is_duplicate
0,how do i prepare for 12th class in 1 month ?\n,what is the best way to prepare for 12th class...,1
1,can god make a boulder so heavy he ca n't lift...,if god is all powerful can he make a rock so h...,1
2,are cengage books good for jee advanced ?\n,are the cengage books for math and phy good en...,1
3,is there a possibility to love 2 person at onc...,is it possible for people to love 2 person at ...,1
4,why does n't anyone reply to my questions on q...,why are my questions not answered on quora ?\n,1

In [12]:
full_df =pos_df.append(neg_df)

In [24]:
full_df['question1'] = full_df['question1'].apply(lambda x : str(x).replace('\n', '').replace('\r', ''))
full_df['question2'] = full_df['question2'].apply(lambda x : str(x).replace('\n', '').replace('\r', ''))

In [26]:
full_df['question1'].values[:20]

array(['What is The Fee structure Of BDM international school Kolkata?',
       'what does teksystems ask in their interview ?',
       'What kind (classification) of auction would you say is used in purchasing a home in Norway?',
       'what is the best way to stop being obsessed with something ?',
       'Do introverts really need to change their traits or they should take those qualities as a gift?',
       'What is the maximum number of upvotes one answer can get on Quora?',
       'Should I buy a 2015 Macbook Pro or wait for the new updated version?',
       'what is tenure of america president ?', 'What is Atomic Labs?',
       'what is true beauty ?',
       'What are the concepts of universal grammar?',
       'Will real estate prices fall in Gurgaon, India?',
       'Who are some prominent conservatives on Quora?',
       'how do i stop masturbation permanently ?',
       'How should I prepare for job interviews?',
       "How did Weightless (2017 movie) get greenlit? What's the backstory of how the movie got made?",
       'what is your biggest challenge in life right now ?',
       'Which type of face shape do I have?',
       'how do i apply for a specific license ?',
       'What are oppressed groups?'], dtype=object)

In [25]:
full_df.dtypes

question1       object
question2       object
is_duplicate    object
dtype: object

In [23]:
full_df.head()

,question1,question2,is_duplicate
0,What is The Fee structure Of BDM international...,How do you figure out your ideal customer prof...,0
1,what does teksystems ask in their interview ?\n,what does teksystems ask in their it interview...,1
2,What kind (classification) of auction would yo...,How many orbitals are there in the 4th orbit o...,0
3,what is the best way to stop being obsessed wi...,how should obsession be treated ? how do i sto...,1
4,Do introverts really need to change their trai...,"In my kids' schools, teachers identify childre...",0

In [27]:
full_df.shape

(263253, 3)

In [28]:
full_df['is_duplicate'].value_counts()

0    163253
1    100000
Name: is_duplicate, dtype: int64

In [17]:
full_df =full_df.sample(frac=1)
full_df.index =list(range(len(full_df)))

In [29]:
full_df.to_csv('/scratchd/home/satwik/adv_p/data/train_new_df.tsv', sep='\t', index=None, header= None)